
<p><%= @student.name%></p>
<p><%= @student.gender%></p>
<p><%= @student.dob%></p>
<p><%= @student.language%></p>
<p><%= @student.city%></p>
<!-- <ul>
  <li><%#= link_to "Edit", edit_student_path(@student) %></li>
</ul> -->